h1 {
  padding-bottom: 10px;
}
.subcategories, .main_categories,
.subcategories option, .main_categories option{
  width: 200px;
}

.main-container {
  padding-bottom: 50px;
}

.hide {
  display: none;
}
