{% extends "layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='businesses.js') }}"></script>
{% include 'results.html' %}
<section class="search_container container">
  <div class=row>
    <h1>Business Search</h1>
  </div>

  <form class=business_search_form>
    
    <div class=row>
      <div class=col-lg-6> 
        <h4>CATEGORIES</h4>

        <div class="form-group">
          <label>Main Categories:</label>
          <select class="form-control main_categories" size=5 multiple>
          </select>
        </div>
          
        <div class="form-group">
          <label>Subcategories:</label>
          <select class="form-control subcategories" size=5 multiple>
          </select>
        </div>
      </div>

      <div class=col-lg-6> 
        <h4>CHECKIN</h4>
          
        <div class=container>
          <div class="form-group">
            <label>From:</label>
            <div class=row>
              <div class=col-lg-3>
                <select class="form-control checkin_from_day">
                  {% include 'day_options.html' %}
                </select>
              </div>
              <div class=col-lg-3>
                <select class="form-control checkin_from_hour">
                  {% include 'hour_options.html' %}
                </select>
              </div>
            </div>
          </div>
        </div>
        
        <div class=container>
          <div class="form-group">
            <label>To:</label>
            <div class=row>
              <div class=col-lg-3>
                <select class="form-control checkin_to_day">
                  {% include 'day_options.html' %}
                </select>
              </div>
              <div class=col-lg-3>
                <select class="form-control checkin_to_hour">
                  {% include 'hour_options.html' %}
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class=container>
          <div class="form-group">
            <label># Checkins:</label>
            <div class=row>
              <div class=col-lg-3>
                <select class="form-control checkin_count_condition">
                  {% include 'condition_options.html' %}
                </select>
              </div>
              <div class=col-lg-3>
                <input type=number min=0 class="checkin_count_value form-control"></input>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    </br><h4>REVIEW</h4></br>
        
    <div class=row>  
      <div class=col-lg-6>
        <div class="form-group">
          <label>From:</label>
          <input type=text class="datepicker review_from form-control"></input>
        </div>
      </div>


      <div class=col-lg-6>
        <div class=container>
          <div class="form-group">
            <label># Stars:</label>  
            <div class=row>   
              <div class=col-lg-3>      
                <select class="form-control review_stars_condition">
                  {% include 'condition_options.html' %}
                </select>
              </div>
              <div class=col-lg-3>
                <input type=number min=0 max=5 class="review_stars_value form-control"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=row>  
      <div class=col-lg-6>
        <div class="form-group">
          <label>To:</label>
          <input type=text class="datepicker review_to form-control"></input>
        </div> 
      </div>

      <div class=col-lg-6>
        <div class=container>
          <div class="form-group">
            <label># Votes:</label>
            <div class=row>   
              <div class=col-lg-3>    
                <select class="form-control review_votes_condition">
                  {% include 'condition_options.html' %}
                </select>
              </div>
              <div class=col-lg-3>
                <input type=number min=0 class="review_votes_value form-control"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=row>
      <div class=col-lg-6>
        <div class="form-group">
          <label>AND / OR:</label>
        
          <select class="form-control business_and_or">
            <option value="AND" selected>AND</option>
            <option value="OR">OR</option>
          </select>
        </div>
      </div>
      <div class=col-lg-6>
        <div class=container>
          <div class=row>
            <div class=col-lg-6>
              <label>Limit</label>
              <div class="input-group">
                <input type="number" class="form-control limit" placeholder="Limits the number of rows returned, default 100">
                <span class="input-group-btn">
                  <button class="btn btn-primary" id=business-search-button type=submit>Search</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
</section>
{% endblock %}
