<!doctype html>
<title>Yelp Search</title>
{% include 'head.html' %}
<html>
<body>
{% include 'nav.html' %}
<div class="container">
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
</html>

