<section class="results-container container hide">
  <ol class="breadcrumb">
    <li class="active">Results</li>
  </ol>
  <section class="errors hide">
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </section>

  <section class=statement>
  </section>

  <section class=results>
    <h1>Search Results</h1>
    <table class="table table-striped table-hover results-table">
    </table>
    <div class="errors hide">
      <img src="{{ url_for('static', filename='images/grumpy.jpg') }}"></img>
    </div>
    <div class="loading hide">
      <img src="{{ url_for('static', filename='images/loading.gif') }}"></img>
    </div>
  </section>
</section>
