{% extends "layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='users.js') }}"></script>
{% include 'results.html' %}
<section class="search_container container">
  <div class=row>
    <h1>User Search</h1>
  </div>

  <form class=user_search_form>
      
    <div class=row>
      <div class=col-lg-6>
        <div class=container>
          <div class="form-group">
            <label>Review Count:</label>
            <div class=row>
              <div class=col-lg-3>
                <select class="form-control review_count_condition">
                  {% include 'condition_options.html' %}
                </select>
              </div>
              <div class=col-lg-3>
                <input type=number min=0 class="review_count_value form-control"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=col-lg-6>
        <div class=container>
          <div class="form-group">
            <div class=row>
              <div class=col-lg-6>
                <label>Member Since:</label>
                <input type=text class="datepicker yelping_since form-control"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=row>
      <div class=col-lg-6>
        <div class=container>
          <div class="form-group">
            <label>No. of Friends:</label>
            <div class=row>
              <div class=col-lg-3>
                <select class="form-control friend_count_condition">
                  {% include 'condition_options.html' %}
                </select>
              </div>
              <div class=col-lg-3>
                <input type=number min=0 class="friend_count_value form-control"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=col-lg-6>
        <div class=container>
          <div class="form-group">
            <label>Avg. Stars:</label>
            <div class=row>
              <div class=col-lg-3>
                <select class="form-control average_stars_condition">
                  {% include 'condition_options.html' %}
                </select>
              </div>
              <div class=col-lg-3>
                <input type=number min=0 class="form-control average_stars_value"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=row>
      <div class=col-lg-6>
        <div class=container>
          <div class=row>
            <div class=col-lg-6>
              <div class="form-group">
                <label>AND / OR:</label>
              
                <select class="form-control user_and_or">
                  <option value="AND" selected>AND</option>
                  <option value="OR">OR</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=col-lg-6>
        <div class=container>
          <div class=row>
            <div class=col-lg-6>
              <label>Limit</label>
              <div class="input-group">
                <input type="number" class="form-control limit" placeholder="Limits the number of rows returned, default 100">
                <span class="input-group-btn">
                  <button class="btn btn-primary" id=user-search-button type=submit>Search</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
</section>
{% endblock %}
